name: Trigger Workflow

on:
  workflow_dispatch:
    inputs:
      workflow_to_trigger:
        description: 'Codeql'
        required: true

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Workflow
        run: |echo { 
          if [ "${{ github.event.inputs.workflow_to_trigger }}" = "Codeql" ]; then
            curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/${{ github.repository }}/actions/workflows/Codeql.yml/dispatches \
              -d '{"ref": "main"}'
          elif [ "${{ github.event.inputs.workflow_to_trigger }}" = "workflow-b" ]; then
            curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/${{ github.repository }}/actions/workflows/your-workflow-b.yml/dispatches \
              -d '{"ref": "main"}'
          fi} >> $GITHUB_STEP_SUMMARY
